#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_US]=Discord
Exec=discord
Icon=discord
Icon[en_US]=discord
Name=Discord
